# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
node_modules/
.expo/
.expo-shared/
dist/
build/
ios/build/
android/app/build/
*.keystore

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Environment
.env
.env.*

# Metro / Cache
.cache/
babel.config.js

# Expo
*.expo
*.turtle
web-build/
.expo-settings.json

# Android
android/.gradle
android/.idea
android/local.properties
android/app/src/debug/
android/app/src/androidTest/
android/app/src/test/

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/

# TypeScript
*.tsbuildinfo
