.categories-container {
  flex-direction: row; /* Mantém as categorias em linha */
  align-items: center; /* Alinha as categorias verticalmente */
  position: relative; /* Necessário para a linha embaixo */
  margin-bottom: 20px; /* Espaçamento inferior */
  margin-top: 20px;
  justify-content: center; /* Alinha as categorias à esquerda */
  overflow-x: auto; /* Permite rolagem horizontal */
  white-space: nowrap; /* Impede que as categorias quebrem para a linha seguinte */
}

.category-item {
  font-size: 14px; /* Tamanho da fonte menor */
  margin: 0 10px; /* Espaçamento reduzido entre categorias */
  padding: 5px 10px; /* Preenchimento interno menor */
  cursor: pointer; /* Indica que é clicável */
  color: #28a745; /* Cor padrão do texto mais suave */
  transition: color 0.3s; /* Transição suave ao mudar a cor */
  display: inline-block; /* Permite que os itens sejam tratados como inline */
  border: 1px solid #28a745;
  border-radius: 5px;
  font-weight: bold; /* Deixa a categoria ativa em negrito */
}

.category-item:hover {
  color: #28a745; /* Cor ao passar o mouse */
}

.category-item.active {
  color: white; /* Cor da categoria ativa */
  background-color: #28a745;
}
