.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    width: 100%; /* Garante que o card ocupe 100% da largura disponível */
    max-width: 500px;
    margin: 10px auto; /* Centraliza o card */
}

/* .product-card:hover {
    transform: scale(1.02);
} */

.product-info {
    flex: 1;
    padding-right: 15px;
}

.product-info h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    color: #333;
}

.product-description {
    color: #888;
    font-size: 0.9rem;
    margin: 5px 0;
}

.product-price {
    font-size: 0.95rem;
    color: #333;
    margin-top: 10px;
}

.discounted-price {
    font-weight: bold;
    color: #e63946;
}

.product-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .product-card {
        flex-direction: row;
        align-items: center;
        width: 90%; /* O card ocupa toda a largura da tela em dispositivos móveis */
    }

    .product-info {
        padding-right: 10px;
    }

    .product-image {
        flex-shrink: 0;
        margin-left: 10px;
    }

    .product-image img {
        width: 70px;
        height: 70px;
    }
}