.orders-list {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.orders-title {
    font-size: 28px;
    font-weight: bold;
    color: #1a9b9b;
    margin-bottom: 20px;
}

.order-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.order-card h3 {
    font-size: 22px;
    color: #333333;
    margin-bottom: 10px;
}

.order-card p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 8px;
}

.order-items {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #e0e0e0;
}

.order-items h4 {
    font-size: 18px;
    font-weight: bold;
    color: #1a9b9b;
    margin-bottom: 10px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 16px;
    color: #333333;
}

.order-item span {
    display: inline-block;
}

.order-item-relations {
    margin-top: 5px;
    padding-left: 20px;
    font-size: 14px;
    color: #777777;
    list-style-type: disc;
}

.order-item-relations li {
    padding: 2px 0;
}

.order-status {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 10px 0;
}

.status-step {
    text-align: center;
    font-size: 14px;
    color: #555;
    font-weight: 500;
}

.status-step.active {
    color: #e63946;
    /* Cor destaque para o status atual */
    font-weight: bold;
}


/* Responsividade */
@media (max-width: 768px) {
    .order-card {
        padding: 15px;
    }

    .order-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-item span {
        margin-bottom: 5px;
    }
}