.home {
  text-align: center;
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  color: #1a9b9b;
  margin-bottom: 10px;
  text-align: center;
  /* Alinha o título da categoria à esquerda */
}

/* Estilo das categorias */
.category {
  text-align: left;
  /* Garante que todos os itens dentro da categoria, incluindo o título, fiquem à esquerda */
  margin-bottom: 40px;
  padding: 0px 10px;
}

/* Listagem de produtos */
.product-list {
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .product-list {
    flex-direction: column;
  }

  .restaurant-info {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .restaurant-logo-container {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .restaurant-details h2 {
    font-size: 24px;
    text-align: center;
  }

  .restaurant-details .info {
    text-align: center;
  }

  .restaurant-details .status {
    text-align: center;
  }

  .category-title {
    text-align: left;
  }
}