/* Global styling */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.home {
  text-align: center;
  padding: 20px;
}

/* Área do restaurante */
.restaurant-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Cor menos chamativa */
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Para mais elegância */
}

.restaurant-logo-container {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0; /* Placeholder para o logo */
  border-radius: 50%;
  overflow: hidden;
}

.restaurant-logo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garantir que a imagem ocupe o espaço de forma elegante */
}

.restaurant-details {
  text-align: center;
}

.restaurant-details h2 {
  margin: 0;
  font-size: 28px;
  color: #1a9b9b; /* Combina com a cor principal */
}

.restaurant-details p {
  margin: 5px 0;
  font-size: 16px;
}

.status {
  font-weight: bold;
  font-size: 18px;
}

.status.open {
  color: #4caf50; /* Verde para aberto */
}

.status.closed {
  color: #ff6347; /* Vermelho para fechado */
}

/* Estilo das categorias */
.category {
  text-align: left; /* Garante que todos os itens dentro da categoria, incluindo o título, fiquem à esquerda */
  margin-bottom: 40px;
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  color: #1a9b9b;
  margin-bottom: 10px;
  text-align: center; /* Alinha o título da categoria à esquerda */
}

/* Listagem de produtos */
.product-list {
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .product-list {
    flex-direction: column;
  }
  .restaurant-info {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .restaurant-logo-container {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .restaurant-details h2 {
    font-size: 24px;
  }

  .restaurant-details p {
    font-size: 14px;
  }

  .category-title {
    text-align: left;
  }
}
