.checkout-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.checkout-container h2 {
    font-size: 1rem;
    color: black;
}

.customer-info,
.delivery-info {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; /* Fundo leve */
}

.payment-info {
    margin: 15px 0;
}

.payment-select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s, background-color 0.3s;
}

.payment-select:focus {
    border-color: #007bff; /* Altere a cor da borda ao focar */
    outline: none; /* Remove a borda padrão do foco */
    background-color: #fff; /* Muda a cor de fundo ao focar */
}

.payment-select option {
    padding: 10px; /* Adiciona um padding às opções */
}

.change-button {
    background-color: #007BFF; /* Cor do botão */
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.change-button:hover {
    background-color: #0056b3; /* Efeito hover */
}

textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.finalizar-button {
    width: 100%;
    padding: 10px;
    background: #28a745; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.finalizar-button:hover {
    background: #218838; /* Efeito hover */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Alinha os botões lado a lado */
    width: 100%; /* Garante que ocupem o espaço total */
}

.button-container button {
    margin: 5px; /* Espaçamento entre os botões */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delivery-info {
    margin: 15px 0;
}

.delivery-option {
    display: flex;
    align-items: center;
    margin: 5px 0; /* Espaçamento entre os radio buttons */
    font-size: 16px; /* Tamanho da fonte */
}

.delivery-option input {
    margin-right: 10px; /* Espaço entre o radio button e o texto */
}

.delivery-type p {
    font-size: 1rem;
}

.delivery-type span {
    font-size: 0.9rem;
    color: #555;
}

.finish-order-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    background-color: #1a9b9b0a;
    padding: 10px;
    border-radius: 5px;
}

.finish-order-info h3 {
    font-size: 1.2rem;
    color: #555;
}

.finish-order-info h2 {
    font-size: 1.4rem;
    color: #555;
}


/* Responsividade */
@media (max-width: 768px) {
    .checkout-container {
        margin: 0;
        border-radius: 0px;
    }
}
  
