.accordion-section {
    margin: 10px 0;
}

.accordion-button {
    background-color: #1a9b9b; /* Cor do botão do acordeão */
    color: white; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.accordion-button:focus {
    background-color: #1a9b9b;
}

.accordion-content {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd; /* Borda do conteúdo do acordeão */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #f9f9f9; /* Fundo claro para o conteúdo */
}
